# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Files used for testing purposes
*.txt
*.png

# VS Code settings
.vscode/

# Logs and temporary files
*.log
*.tmp

# Build directories
out/
bin/
target/

# OS-specific junk
.DS_Store
Thumbs.db